.businesscasual-front-page .fw-row,
.businesscasual-page .fw-container {
	margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.fw-row h2 {
	font-size: 19.5px;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 19.5px;
	margin: 15px 0;
}

.fw-row .fw-divider-line ~ h2 { 
	text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.businesscasual-front-page .fw-row h1 {
	font-size: 4em;
	font-weight: 700px;
	letter-spacing: 1px;
	line-height: 1.1;
	text-transform: capitalize;
	margin: 0;
}

.fw-row h1 + .fw-divider-line {
	margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
} 

.bx-wrapper div.bx-viewport {
	border: none;
	box-shadow: none;
	background: none;
}

/* ------ */
.bx-wrapper div.bx-pager {
	position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
}

.bx-wrapper div.bx-pager.bx-default-pager a {
	background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.bx-wrapper div.bx-pager.bx-default-pager a:hover,
.bx-wrapper div.bx-pager.bx-default-pager a.active {
	width: 10px;
    height: 10px;
    background-color: #fff;
} 

/* About */
.businesscasual-page .fw-row { 
	margin: 0;
}

.post, 
.page {
	margin: 0;
}

.fw-team .fw-team-inner .fw-team-name {
	margin-top: 20px;
	margin-bottom: 10px;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: baseline;
	        align-items: baseline;
}

.fw-team .fw-team-inner .fw-team-name h3 {
	font-size: 24px;
	margin: 0;
	margin-right: 10px; 
}

.fw-team .fw-team-inner .fw-team-name span {
	font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15.6px; 
	font-weight: 400;
	text-transform: uppercase;
    line-height: 1;
    color: #777;  
}

/* Contact */
.contact-form input[type="submit"] {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	padding: 6px 12px;
	margin-left: 15px;
	color: #333;
    background-color: #fff;
    border-color: #ccc;
    cursor: pointer;
}
	
.contact-form input[type="submit"]:hover {
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

/* Blog */
.nav-previous a,
.nav-next a{
	display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #337ab7;
    text-decoration: none;
}

.nav-previous a:hover,
.nav-next a:hover {
	text-decoration: none;
    background-color: #eee;
}